@model IEnumerable<BloodMVC.Models.MvcBloodDetails>

@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Id)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Name)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Address)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Number)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.LastVaccination)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.BloodRecived)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.isVaccinate)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.BloodId)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.OrgId)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.HemoglobinId)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Id)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Name)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Address)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Number)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.LastVaccination)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.BloodRecived)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.isVaccinate)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.BloodId)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.OrgId)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.HemoglobinId)
            </td>
            <td>
                @Html.ActionLink("Edit", "Edit", new { /* id=item.PrimaryKey */ }) |
                @Html.ActionLink("Details", "Details", new { /* id=item.PrimaryKey */ }) |
                @Html.ActionLink("Delete", "Delete", new { /* id=item.PrimaryKey */ })
            </td>
        </tr>
}
    </tbody>
</table>
